/* body {
    background-color: green;
    font-gamily: Arial, sans-serif;
} */
h1 {
    color: magenta;  
}
h2 {
    color: red;
}
h3 {
    color: blue;
}
h4 {
    color: green;
}
h5 {
    color: red;
}
h6 {
    color: magenta;
}
